
.chart-elem{
    margin: 5px;
    cursor: pointer;
    vertical-align: middle;
    background: #222;
    display: inline-block;

}
.chart-txt{
display: inline-block;
    
}
.chart-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 400px;
}